.Logo{

    height: 70%;
    margin-left: 50%;
    margin-right: 50%;
   

    
    
}

.Logo img{
    height: 100%;
}



@media (min-width:500px) {
    .brand{
        visibility: visible;
        transform: scale(2);
        padding-left: 10px;
        padding-top: 2px;
      
    }
}